body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0 1.5em;
  font-size: 0.9em;
}

a {
  color: var(--color-link);
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-ease);

  &:hover {
    color: var(--color-link-hover);
    text-decoration: underline;
  }
}

abbr {
  color: var(--color-text-secondary);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-bottom: 1.5em;

  .separator {
    width: 33%;
    margin-top: 1.5em;
    margin-bottom: 1.5em;

    border-top: 1px solid var(--color-text-tertiary);
  }

  .text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: var(--font-size-footer);
    color: var(--color-text-tertiary);

    p {
      margin: 0;
    }
  }
}

// PDF Print
@page {
  size: A4;
  margin: 0;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .cv-container {
    padding: var(--padding-print-container) !important;
    box-shadow: none !important;
  }

  .no-print,
  #fork-me-ongithub-id {
    display: none !important;
  }

  // I don't know if I should add a checkbox to give the option to enable this or remove print-color-adjust
  // *,
  // *::before {
  //   background: transparent !important;
  //   background-color: transparent !important;
  // }
}
