:root {
  // animations
  --animation-pulse-scale-start: 0.9;
  --animation-pulse-scale-end: 1.1;
  --animation-typing-width-start: 0;
  --animation-typing-width-end: 100%;
  --animation-blink-caret-color: #ffcc80;

  // general
  --font-family-body: "Roboto", sans-serif;
  --font-family-title: "Paytone One", sans-serif;
  --font-size-body: 1em;
  --font-size-header: 0.9em;
  --font-size-footer: 0.8em;
  --font-size-h1: 1.5em;
  --font-size-h2: 1.3em;
  --font-size-h3: 1em;
  --background-color-body: #333;
  --background-color-container: #fff;
  --background-color-gradient-start: #fff5e6;
  --background-color-gradient-end: white;
  --background-color-responsive-1: #fff5e6;
  --background-color-responsive-2: white;
  --color-text: #333;
  --color-text-secondary: #333;
  --color-text-tertiary: #ffe0b3;
  --color-link: #333;
  --color-link-hover: #444;
  --box-shadow-image: 0 0 5px #333;
  --box-shadow-image-hover: 0 0 10px #333;
  --box-shadow-container: 0 0 10px rgba(0, 0, 0, 0.1);
  --padding-container: 1em 1em 1em 1.5em;
  --transition-duration: 0.3s;
  --transition-ease: ease;

  // reusables
  --timeline-border-color: #777;
  --timeline-background-color: #fff5e6;
  --timeline-text-color: #333;
  --sidebar-background-color: #333;
  --sidebar-button-color: #ffe0b3;
  --sidebar-button-hover-border-color: #ffe0b3;
  --skills-text-color: #333;
  --skills-dots-color: #666;
  --skills-level-color: #666;
  --skills-stars-color: #333;

  // utils
  --padding-1: 0.25em;
  --padding-2: 0.5em;
  --padding-3: 0.75em;
  --padding-4: 1em;
  --padding-5: 1.25em;
  --margin-1: 0.25em;
  --margin-2: 0.5em;
  --margin-3: 0.75em;
  --margin-4: 1em;
  --margin-5: 1.25em;
}
