@media only screen and (max-width: 980px) {
  body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }

  .hide-element-on-small-screen {
    display: none !important;
  }

  .sidebar-utility {
    margin: 3em 0;
    position: static;
    top: 0;
    left: 0;
    transform: translateY(0);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em 0;

    @media only screen and (max-width: 475px) {
      justify-content: center;
    }

    button {
      width: auto;
      padding: 1em;
      align-items: center;
      transition: none;
      border: 1px solid transparent;
      animation: none;
      border-radius: 20px;

      &:hover {
        width: auto;
        animation: none;
        border: 1px solid var(--sidebar-button-hover-border-color);
      }
      span {
        visibility: visible;
      }
    }
  }
}

@media only screen and (max-width: 824px) {
  .cv-container {
    width: 100%;
    height: auto;

    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      "image"
      "header"
      "left-column"
      "right-column";
    gap: 0;
    padding: 1em 0.25em !important;
  }

  .header {
    font-size: var(--font-size-header);
  }

  .full-name {
    margin: 1em 0;
  }

  .category {
    background: var(--background-color-responsive-1) !important;
    padding: 0 !important;
    margin: 0.5em 0 !important;
  }

  .image,
  .left-column {
    background: var(--background-color-responsive-2) !important;
  }

  .three-rows {
    div:not([class^="custom-div"]) {
      flex-wrap: wrap;
    }
  }
}

@media only screen and (max-width: 412px) {
  .cv-container {
    padding: 0.5em;
  }
  .header {
    font-size: calc(var(--font-size-header) - 5%);
  }
}
